@import "../../styles/shared.scss";

.stack {
  @include flex-column-center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: $spacing-sm;
}

.menuButton {
  --button-radius: #{$button-radius};
  background: linear-gradient(
    to right,
    rgba($button-primary-start, 0.2),
    rgba($button-primary-end, 0.2)
  );
  @include flex-center;
  font-size: $font-size-button;
  height: $button-height;
  width: $button-width;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: $white;

  :global(.mantine-Button-section) {
    fill: $white;
    transform: translatey(1px);
    height: $icon-size-medium;
    width: $icon-size-medium;
    padding: 0;
  }

  @include slide-in-animation;

  &:hover {
    transform: scale(1.01);
    color: $whitesmoke;

    :global(.mantine-Button-section) {
      fill: $whitesmoke;
    }

    .glowEffect {
      opacity: 1;
    }
  }
}

.primary {
  background: $button-gradient;
  border: none;
  color: $white;
  box-shadow: 0 $spacing-xs $spacing-xs -$spacing-xs rgba(0, 0, 0, 0.1);

  &:hover {
    background: $button-gradient-hover;
    box-shadow: 0 $spacing-xs $spacing-xs -$spacing-xs rgba($button-primary-start, 0.1);
  }

  .glowEffect {
    background: linear-gradient(
      to right,
      rgba($button-primary-start, 0.2),
      rgba($button-primary-end, 0.2)
    );
  }
}

.secondary {
  @include glass-effect;
  color: $white;
  box-shadow: 0 $spacing-xs $spacing-xs -$spacing-xs rgba(0, 0, 0, 0.05);

  &:hover {
    background: rgba(255, 255, 255, 0.125);
    box-shadow: 0 $spacing-xs $spacing-xs -$spacing-xs rgba(0, 0, 0, 0.1);
  }

  .glowEffect {
    background: rgba(255, 255, 255, 0.05);
  }
}
