.container {
  position: absolute;
  inset: 0;
}

.floatingParticle {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(147, 197, 253);
  box-shadow: 0 0 10px rgba(147, 197, 253, 0.5);
}

.starParticle {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  animation: pulse 2s infinite;
  
  @keyframes pulse {
    0%, 100% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
  }
}